main {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: {
    left: 24px;
    right: 24px;
  }
  min-height: 100%;
  width: 100%;
}

.content {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  width: 100%;

  .left-pane {
    flex: 1 1 auto;
  }

  .right-pane {
    flex: 0 0 360px;
  }
}
